body {
    margin:0px;
    background: black;
    color: white;
    height: 100%;
    overflow-y: hidden;
}
#channelList{
    position: absolute;
    width:220px;
    left:auto;
    right:0px;
    height: 100%;
    overflow-y:scroll;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
#channelListSpacer{
    margin-top:70%;
    margin-bottom:70%;
}
.submitButton{
    float:right;
    min-width: 120px;
    height: 50px;
    margin:4px;
    font-size: x-large;
    border-radius: 15px;
    border-style:solid;
    border-width: 1px;
    border-color: #303030;
    color: white;
    box-shadow: 0 10px 15px rgb(0 0 0 / 30%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(20,20,20,0.5) 0%, rgba(0,0,0,1) 100%);
}
.icons{
    filter:invert(80%);
    margin-top:7px;
    width: 40px;
    height: 40px;
    stroke-width: 1px;
}
html {
    overflow:   scroll;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#muteUnmuteCustomButton{
    position: fixed;
    bottom: 0;
    left: 0;
    margin:30px;
    border:none;
    min-width: 120px;
    height: 70px;
    font-size: x-large;
    color: white;
    box-shadow: 0 10px 15px rgb(0 0 0 / 30%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 96%);
}
#playerControls{
    position: absolute;
}
.tvRemoteForm{
    padding-right: 30px;
}
body::-webkit-scrollbar{
    display: none;
}
#tvStreamer, #tvStreamer_html5_api{
    width: 100%;
}
.vjs-modal-dialog, .vjs-control-text, .vjs-big-play-button{
    visibility: hidden;
}
.vjs-fade-out {
    display: block;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 1.5s, opacity 1.5s;
    -moz-transition: visibility 1.5s, opacity 1.5s;
    -ms-transition: visibility 1.5s, opacity 1.5s;
    -o-transition: visibility 1.5s, opacity 1.5s;
    transition: visibility 1.5s, opacity 1.5s;

    /* Wait a moment before fading out the control bar */
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}